<!--NEW PRODUCT FORM-->
<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Product name..." formControlName="name" />

      <p-dropdown
        styleClass="w-full"
        [options]="categoriesData"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Select a category..."
        formControlName="category_id"
      ></p-dropdown>

      <input pInputText placeholder="Product price..." formControlName="price" />

      <input pInputText placeholder="Prduct description..." formControlName="description" />

      <input pInputNumber placeholder="Product amount..." formControlName="amount" />

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
          type="submit"
          label="Add product"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!--EDIT PRODUCT FORM-->
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Product name..." formControlName="name" />

      <div *ngIf="renderDropdown">
        <p-dropdown
          styleClass="w-full"
          [options]="categoriesData"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          optionValue="id"
          formControlName="category_id"
        >
        </p-dropdown>
      </div>

      <input pInputText placeholder="Product price..." formControlName="price" />

      <input pInputText placeholder="Product description..." formControlName="description" />

      <input pInputNumber placeholder="Product amount..." formControlName="amount">

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
          type="submit"
          label="Save product"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!--SALE PRODUCT FORM-->
<div *ngIf="productAction?.event?.action === saleProductAction">
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitProductSale()">
    <div class="card flex flex-column md:flex-column gap-3">
      <p-dropdown
        [options]="productsDatas"
        [(ngModel)]="sellSelectedProduct"
        styleClass="w-full"
        optionLabel="name"
        optionValue="id"
        placeholder="Select a product..."
        formControlName="product_id"
      ></p-dropdown>

      <input type="number" pInputText placeholder="Select the amount..." formControlName="amount" />

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
          type="submit"
          label="Sell product"
        ></p-button>
      </div>
    </div>
  </form>
</div>
